hatanka @ git+https://github.com/valgur/hatanaka
georinex @ git+https://github.com/geospace-code/georinex
# georinex==1.16.2
matplotlib==3.10.1
numpy==2.2.4
scipy
paramiko==3.5.1
platformdirs==4.3.6
xarray==2025.1.2

# Development
autopep8==2.3.2
pytest==8.3.4
